@import "_colors.scss";

.blog-card {
	background-color: $box-color;
	border-left: 10px solid $primary-color;
	border-radius: 5px;
	display: block;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 30px;
	flex-direction: column;
}

.top-card-row {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
}

.bottom-card-row {
	display: flex;
	flex-wrap: wrap;
	align-items: bottom;
	justify-content: space-between;
}

// Needs to be pushed down on desktop to ensure alignment with the title of the post
@media screen and (min-width: 768px) {
	.post-date {
		margin-top: 14px;
	}
}