@import "_colors.scss";

.blog-card {
	background-color: var( --box-color);
	border-left: 14px solid var( --primary-color);
	border-radius: 10px;
	display: block;
	padding: 0.2rem 1rem;
	margin-bottom: 1.25rem;
	flex-direction: column;
	position: relative;

	&:hover {
		transform: scale(1.05);
	}

}

// modified from https://codepen.io/MartijnCuppens/pen/YavXJQ under MIT license
.stretched-link::after {
	position: absolute;
	top: 0;
    right: 0;
    bottom: 0;
    left: 0;
	z-index: 1;
	content: "";
}

.top-card-row {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
	padding-top: .8rem;

	h2 {
		margin-top: 0px;
	}

	span {
		padding-top: 0.4rem;
	}
}

.bottom-card-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	column-gap: 0.4rem;
}
