// Color system

/* Primary theme color */
$primary-color: hsl(120, 17%, 52%);
$text-on-primary-color: hsl(10, 26%, 26%);
$hovered-text-on-primary-color: hsl(10, 26%, 10%);

/* Link colors */
$link-color: hsl(145, 100%, 27%);
$hovered-link-color: hsl(145, 100%, 14%);

/* Secondary color: the background body color */
$secondary-color: hsl(40, 40%, 95%);
$text-on-secondary-color: $text-on-primary-color;

/* Boxes for TOC and blog cards */
$box-color: hsl(40, 45%, 90%);

/* Shows where you are in the article */
$toc-highlight-text-color: hsl(9, 30%, 45%);

/* Footer body color */
$footer-color: hsl(145, 5%, 10%);
$footer-text-color: hsl(145, 10%, 90%);