// Color system

/* Primary theme color */
$primary-color: hsl(120, 17%, 52%);
$primary-text-color: hsl(10, 26%, 26%);

/* Link colors */
$primary-link-color: hsl(145, 100%, 27%);
$hovered-link-color: hsl(145, 100%, 14%);

/* Secondary color: the background body color */
$secondary-color: hsl(40, 50%, 98%);
$secondary-text-color: hsl(10, 28%, 17%);

/* Boxes for TOC and blog cards */
$box-color: hsl(37, 57%, 97%);
$shadow-color: hsl(210, 10%, 23%);

/* Shows where you are in the article */
$toc-highlight-text-color: hsl(9, 30%, 45%);

/* Footer body color */
$footer-color: hsl(210, 11%, 15%);
$footer-text-color: hsl(210, 16%, 93%);