@import "_colors.scss";

footer {
	padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: $footer-color;
	color: $footer-text-color;

	a {
		color: $footer-text-color;
		text-decoration: underline;
	}
}