@import "_colors.scss";

footer {
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var( --footer-color);
	color: var( --footer-text-color);

	a {
		color: var( --footer-text-color);
		text-decoration: underline;

		&:hover {
			color: var( --footer-hover-color);
		}
	}
}