// Top banner
header {
	background-color: $primary-color;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 0px;
	padding-right: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

// Logo + wordmark section of banner
.logo {
	font-family: "Alfa Slab One", serif;
	font-size: 32px;
	color: $text-on-primary-color;
	display: flex;
	align-items: center;
	margin: 0 20px;
	letter-spacing: 1px;

	&:hover {
		color: $hovered-text-on-primary-color;
	}

	img {
		width: 60px;
		margin: 0 25px;
	}
}

// Header links
.nav-item {
	margin: 0 10px;
	text-decoration: none;

	font-family: "Oswald", sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: $text-on-primary-color;

	&:hover {
		color: $hovered-text-on-primary-color;
	}
}