// Top banner
header {
	background-color: $primary-color;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 0px;
	padding-right: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

// Logo + wordmark section of banner
.logo {
	margin: 0 20px;

	img {
		height: 50px;
		margin: 0 25px;
	}
}

// Header links
.nav-item {
	margin: 0 10px;
	text-decoration: none;

	font-family: "Oswald", sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: $text-on-primary-color;

	&:hover {
		color: $hovered-text-on-primary-color;
	}
}