.home-columns {
	display: flex;
	align-items: center;
}

.home-text {
	font-size: 22px;
	flex-shrink: 2;
	padding: 0.5rem;
	border-radius: 0.4rem;
	background-color: var( --box-color);
	color: var( --text-on-secondary-color);
}

.home-image {
	max-width: 450px;
}

@media screen and (max-width: 768px) {
	.home-columns {
		flex-wrap: wrap;
	}

	.home-image {
		max-width: 100%;
	}
}