.home-columns {
	// display: flex;
	align-items: center;
	
}

.hero-text {
	margin: auto;
	padding: 1%;
	width: 50%;
	font-size: 22px;
	// flex-shrink: 2;
	padding: 1rem 1rem;
	border-radius: 0.4rem;
	background-color: var( --box-color);
	color: var( --text-on-secondary-color);
}

.hero-image {
	margin: auto;
	padding: 1%;
	width: 50%;
}

.hero-image figcaption {
	text-align: center;
}

@media screen and (max-width: 768px) {
	.home-columns {
		flex-wrap: wrap;
	}

	.hero-text {
		
	}

	.home-image {
		max-width: 100%;
	}
}