.home-columns {
	display: flex;
	align-items: center;
}

.home-text {
	font-size: 1.3rem;
	flex-shrink: 2;
}

.home-image {
	max-width: 27rem;
}

@media screen and (max-width: 768px) {
	.home-columns {
		flex-wrap: wrap;
	}

	.home-image {
		max-width: 100%;
	}
}