@import "_colors.scss";

.pagination,
.pagination-list {
	align-items: center;
	display: flex;
	justify-content: center;
	text-align: center
}

.pagination-ellipsis,
.pagination-link,
.pagination-next,
.pagination-previous {
	justify-content: space-between;
	margin: .25rem;
	padding-left: .5em;
	padding-right: .5em;
	text-align: center
}

.pagination-link.is-current {
	color: $hovered-link-color;
}

.pagination-ellipsis {
	pointer-events: none
}

.pagination-list {
	flex-wrap: wrap;
	list-style: none;
}