@import "_colors.scss";

.toc {
	max-width: 18rem;
	min-width: 16.4rem;
	margin-left: 0.3rem;
}

.toc-sticky {
	border-radius: 10px;
	border-top: 14px solid var( --primary-color);
	background-color: var( --box-color);
	position: sticky;
	top: 1.5rem;  
	// Ensure that there's space between TOC and text body
	margin: 0 1rem 0 0.2rem;
	padding: 0.9rem 1rem 0.13rem;
	overflow: auto;
}

.toc-item {
	margin-bottom: 6px;

	a {
		font-size: 16px;
	}
}

.toc-item-child {
	margin-left: 10px;
	margin-bottom: 8px;

	a {
		font-size: 14px;
	}
}

.toc-item a,
.toc-item-child a {
	color: var( --text-on-secondary-color);

	&:hover {
		color: var( --hovered-text-on-secondary-color);
	}
}

.toc-item a.active,
.toc-item-child a.active {
	color: var( --toc-highlight-text-color);
}