@import "_colors.scss";

.toc {
	max-width: 260px;
	min-width: 240px;
}

.toc-sticky {
	border-radius: 10px;
	border-top: 14px solid $primary-color;
	background-color: $box-color;
	position: sticky;
	// Ensure that there's space between TOC and text body
	margin-right: 30px;
	padding-bottom: 2px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.toc-item {
	margin-bottom: 6px;

	a {
		font-size: 16px;
	}
}

.toc-item-child {
	margin-left: 10px;
	margin-bottom: 8px;

	a {
		font-size: 14px;
	}
}

.toc-item a,
.toc-item-child a {
	color: $text-on-primary-color;

	&:hover {
		color: $hovered-text-on-primary-color;
	}
}

.toc-item a.active,
.toc-item-child a.active {
	color: $toc-highlight-text-color;
}