@import "_colors.scss";

// Sets universal header text style
// Headings greater than 3 don't play nice with the TOC
@for $i from 1 through 3 {
  h#{$i} {
    font-family: "Oswald", sans-serif;
  }
}

// Page headings
h1,
.title-text {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

// Controls subtitles shown on blog posts
.subtitle-text {
  font-family: "Raleway", sans-serif;
  font-style: italic;
  font-size: 20px;
  color: var( --text-on-secondary-color);
  margin-top: 0;
}

h2 {
  font-size: 1.75rem;
  font-weight: 800;
  margin: 1rem 0;
}

h3 {
  font-size: 1.35rem;
  font-weight: 800;
  margin: .85rem 0;
}


// Main body text
.text {
  font-family: "Raleway", sans-serif;
  font-size: 1.105rem;
  font-weight: 400;
  line-height: 1.65rem;
  letter-spacing: 0.013rem;
  color: var( --text-on-secondary-color);
}

// Call to action
.call-to-action {
  font-style: italic;
}

// Paragraph configuration
p {
  margin-top: 0;
}

// Smaller informational text
.subtext {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.006rem;
}

// Link style
a {
  text-decoration: none;
  color: var( --link-color);

  &:hover {
    color: var( --hovered-link-color);
  }
}