@import "_colors.scss";

// Sets universal header text style
// Headings greater than 3 don't play nice with the TOC
@for $i from 1 through 3 {
  h#{$i} {
    font-family: "Oswald", sans-serif;
    line-height: 2rem;
  }
}

// Page headings
h1,
.title-text {
  font-size: 36px;
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

// Controls subtitles shown on blog posts
.subtitle-text {
  font-family: "Raleway", sans-serif;
  font-style: italic;
  font-size: 20px;
  color: var( --text-on-secondary-color);
  margin-top: 0;
}

h2 {
  font-size: 28px;
  font-weight: 800;
  margin-top: 14px;
  margin-bottom: 14px;
}

h3 {
  font-size: 22px;
  font-weight: 800;
  margin-top: 11px;
  margin-bottom: 11px;
}


// Main body text
.text {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.2px;
  color: var( --text-on-secondary-color);
}

// Call to action
.call-to-action {
  font-style: italic;
}

// Paragraph configuration
p {
  margin-top: 0;
}

// Smaller informational text
.subtext {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.1px;
}

// Link style
a {
  text-decoration: none;
  color: var( --link-color);

  &:hover {
    color: var( --hovered-link-color);
  }
}