@import "_colors.scss";

// Page headings
h1,
.title-text {
  font-family: "Oswald", sans-serif;
  font-size: 25px;
  font-weight: 500;
  color: $primary-text-color;
}

// Controls subtitles shown on blog posts
.subtitle-text {
  font-family: "Raleway", sans-serif;
  font-style: italic;
  font-size: 20px;
  color: $primary-text-color;
}

// Sets header text style
@for $i from 1 through 6 {
  h#{$i} {
    font-family: "Oswald", sans-serif;
    color: $primary-text-color;
  }
}

// Main body text
.text {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.2px;
  color: $primary-text-color;
}

// Smaller informational text
.subtext {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.1px;
}

// Link style
a {
  text-decoration: none;
}