@import "_text.scss";
@import "_blog-cards.scss";
@import "_pagination.scss";
@import "_colors.scss";
@import "_header.scss";
@import "_footer.scss";
@import "_home.scss";
@import "_table-of-contents.scss";

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var( --secondary-color);
    height: 100%;
    display: flex;
    flex-flow: column;
}

.container {
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto;
}

.content {
	padding: 0 0.75rem;
}

// Unordered list
ul {
    margin-top: 0.5rem;
}

// List elements that are the children of an ordered list
ul>li {
    padding: 0.3rem 0;
}

// Images inside of a paragraph
figure {
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
    }

    figcaption {
        margin-top: 0.6rem;
        text-align: center;
    }
}

// Main content of document
main {
    display: flex;
    padding-top: 1.85rem;
    padding-bottom: 0.9rem;
    flex-grow: 1;
}

// Ensure footer is pushed to bottom
html {
    height: 100%;
}

._pos-rel {
    position: relative!important;
}

@media screen and (min-width: 1280px) {
    .content {
        min-width: 48rem;
        max-width: 60%;
    }
}


@media screen and (max-width: 824px) {
    header {
        padding: 1rem 0.3rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .logo {
        img {
            margin: 0;
        }
    }

    main {
        padding: 1.85rem;
    }

    .content {
        padding: 0.2rem;
    }

    .explore-more,
    .toc {
        display: none;
    }
}