{% extends "index.html" %}

{% block title %}{{ term.name }} | {{ super() }} {% endblock title %}

{% block content %}
<div class='container'>
  <div class='has-text-centered' style="margin-top:2rem;">
    <h1>
      <span>{{ term.name }}</span>
    </h1>
  </div>
</div>
<section>
  <div class="container">
    <div class="columns">
      <div class="column">
        {% for page in term.pages %}
        <article class="blog-card">
          <h2 class="title">
            <a href='{{ page.permalink }}'>
              {{ page.title }}
            </a>
          </h2>
          <p class="subtitle">{{ page.description }}</p>

          {{ macros::page_publish_metadata(page=page) }}

          {{ macros::page_content_metadata(page=page) }}

          {% if page.taxonomies.tags %}
          {{ macros::render_tags(tags=page.taxonomies.tags) }}
          {% endif %}
        </article>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endblock content %}