{% extends "index.html" %}

{% block title %}{{ term.name }} | {{ super() }} {% endblock title %}

{% block content %}
<div class='container'>
  <div class='has-text-centered' style="margin-top:2rem;">
    <h2 class="title">
      <span class="icon-text">
        <span>{{ term.name }}</span>
      </span>
      </h1>
  </div>
</div>
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column">
        {% for page in term.pages %}
        <article class="box">
          <h2 class="title">
            <a href='{{ page.permalink }}'>
              {{ page.title }}
            </a>
          </h2>
          <p class="subtitle">{{ page.description }}</p>
          <div class="columns">
            <div class="column is-10">
            </div>
            <div class="column">
              <a class="rightAlign has-text-danger-dark has-text-weight-semibold" href='{{ page.permalink }}'>
                Read More
              </a>
            </div>
          </div>
          <div class="columns">
            <div class="column is-8">
              {{ macros::page_publish_metadata(page=page) }}
            </div>
            <div class="column has-text-right-desktop">
              {{ macros::page_content_metadata(page=page) }}
            </div>
          </div>

          <div class="columns">

            <div class="column has-text-right-desktop">
              {% if page.taxonomies.tags %}
              {{ macros::render_tags(tags=page.taxonomies.tags) }}
              {% endif %}
            </div>
          </div>
        </article>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endblock content %}