    @font-face {
        font-family: Raleway;
        src: url(Raleway-Regular.ttf);
    }
    
    @font-face {
        font-family: Oswald;
        src: url(Oswald-Regular.ttf);
    }
    
    @font-face {
        font-family: OswaldM;
        src: url(Oswald-Medium.ttf);
    }
    
    .oswald {
        font-family: Oswald;
    }
    
    .raleway {
        font-family: Raleway;
    }
    
    .mb-2 {
        margin-bottom: 2rem;
    }
    
    .mt-2 {
        margin-top: 2rem!important;
    }
    
    .mt-N {
        margin-top: 7rem!important;
    }
    
    .mt-4 {
        margin-top: 10rem!important;
    }
    
    .sizingS {
        font-size: 1rem;
    }
    
    .btnCustom {
        background-color: #fed43f;
        border-radius: 5;
    }
    
    .alignLeft {
        justify-content: left;
    }
