    @font-face {
        font-family: Raleway;
        src: url(Raleway-Regular.ttf);
    }

    @font-face {
        font-family: Oswald;
        src: url(Oswald-Regular.ttf);
    }

    @font-face {
        font-family: OswaldM;
        src: url(Oswald-Medium.ttf);
    }