{{- define "main" }}

<article class="post-single">
  <header class="post-header">
    {{ partial "breadcrumbs.html" . }}
    <h1 class="post-title">
      {{ .Title }}
      {{- if .Draft }}<div class="entry-isdraft"><sup>&nbsp;&nbsp;[draft]</sup></div>{{- end }}
    </h1>
    {{- if .Description }}
    <div class="post-description">
      {{ .Description }}
    </div>
    {{- end }}
    {{- if not (.Param "hideMeta") }}
    <div class="post-meta">
      {{- partial "post_meta.html" . -}}
    </div>
    {{- end }}
  </header>
  {{- $isHidden := .Params.cover.hidden | default .Site.Params.cover.hiddenInSingle | default .Site.Params.cover.hidden
  }}
  {{- partial "cover.html" (dict "cxt" . "IsHome" false "isHidden" $isHidden) }}
  {{- if (.Param "ShowToc") }}
  {{- partial "toc.html" . }}
  {{- end }}
  <div class="post-content">
    {{- partial "anchored_headings.html" .Content -}}
  </div>
  <footer class="post-footer">
    <div style="border-top: 2px solid rgb(110, 110, 110); width: 80%; margin-left: auto; margin-right: auto;">
    </div>
    {{- if .Params.tags }}
    <p class=" post-content" style="padding: 20px 0 20px 0; text-align: center;">
      <i>
        Feeling enlightened? Intrigued? Enflamed?<br>Consider joining our
        <a href="/mailing-list">email list</a>
        or following our
        <a href="/TODO-add-link-pls">RSS feed.</a>
        to be notified of new posts.
      </i>
    </p>
    <ul class="post-tags" style="text-align: center;">
      {{- range ($.GetTerms "tags") }}
      <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
      {{- end }}
    </ul>
    {{- end }}
    {{- if (.Param "ShowPostNavLinks") }}
    {{- $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
    {{- if and (gt (len $pages) 1) (in $pages . ) }}
    <nav class="paginav">
      {{- with $pages.Next . }}
      <a class="prev" href="{{ .Permalink }}">
        <span class="title">« {{ i18n "prev_page" }}</span>
        <br>
        <span>{{- .Name -}}</span>
      </a>
      {{- end }}
      {{- with $pages.Prev . }}
      <a class="next" href="{{ .Permalink }}">
        <span class="title">{{ i18n "next_page" }} »</span>
        <br>
        <span>{{- .Name -}}</span>
      </a>
      {{- end }}
    </nav>
    {{- end }}
    {{- end }}
    {{- if (and .Site.Params.ShowShareButtons (ne .Params.disableShare true)) }}
    {{- partial "share_icons.html" . -}}
    {{- end }}
  </footer>

  {{- if (.Param "comments") }}
  {{- partial "comments.html" . }}
  {{- end }}
</article>

{{- end }}{{/* end main */}}