{% macro page_publish_metadata(page) %}
<span>
  <span><time datetime="{{ page.date }}">{{ page.date | date(format='%B %d, %Y') }}</time></span>
  {% endmacro %}

  {% macro page_content_metadata(page) %}
  <span>
    <span>{{ page.reading_time }} min,</span>
    <span>{{ page.word_count }} words</span>
  </span>
  {% endmacro %}

  {% macro render_tags(tags) %}
  <p>
    Tags:
    {% for tag in tags %}
    <a href="{{ get_taxonomy_url(kind='tags', name=tag) }}">
      <span>
        <span>{{tag}}</span>
      </span>
    </a>
    {% endfor %}
  </p>
  {% endmacro %}