{% extends "index.html" %}

{% block title %}{{ section.title }} | {{ super() }} {% endblock title %}

{% block toc %}
{% endblock %}

{% block content %}
<section>
  <div class="container">
    <div class="columns is-centered">
      <div class="column">
        {% if paginator %}
        {% set pages = paginator.pages %}
        {% else %}
        {% set pages = section.pages %}
        {% endif %}

        {% for page in pages %}
        <article class="box width">
          <h2 class="title">
            <a class="raleway" href='{{ page.permalink }}'>
              {{ page.title }}
            </a>
          </h2>

          <p class="subtitle oswald">{{ page.description }}</p>
          <div class="columns is-multiline is-gapless">
            <div class="column is-10">
            </div>
            <div class="column">
              <a class="has-text-danger-dark has-text-weight-semibold" href='{{ page.permalink }}'>
                Read More
                <span class="icon is-small">
                  <i class="fas fa-arrow-right fa-xs"></i>
                </span>
              </a>
            </div>
          </div>
          <div class="columns is-multiline is-gapless">
            <div class="column is-8">
              {{ macros::page_publish_metadata(page=page) }}
            </div>

            <div class="column has-text-right-desktop">
              {{ macros::page_content_metadata(page=page) }}
            </div>
          </div>
          <div class="columns ">

            <div class="column has-text-right-desktop">
              {% if page.taxonomies.tags %}
              {{ macros::render_tags(tags=page.taxonomies.tags) }}
              {% endif %}
            </div>
          </div>
        </article>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endblock %}