{% extends "index.html" %}

{% block title %}{{ section.title }} | {{ super() }} {% endblock title %}

{% block toc %}
{% endblock %}

{% block content %}
<section>
  <div class="container">
    {% for page in paginator.pages %}
    <article class="blog-card">
      <h2 class="title">
        <a href='{{ page.permalink }}'>
          {{ page.title }}
        </a>
      </h2>

      <p class="subtitle">{{ page.description }}</p>

      {{ macros::page_publish_metadata(page=page) }}

      {{ macros::page_content_metadata(page=page) }}

      {% if page.taxonomies.tags %}
      {{ macros::render_tags(tags=page.taxonomies.tags) }}
      {% endif %}
    </article>
    {% endfor %}
  </div>
</section>
{% endblock %}