{% extends "index.html" %}

{% block content %}
<div class="home-columns">
	<div>
		<img src="bladesworn-concept.svg" width=800 alt="A young woman is wielding a polearm with a determined look. She has a prosthetic leg made of living wood.">
		<p> Concept art of a glaive-wielding bladesworn for <a href=https://github.com/leafwing-studios/fonts-of-power> Fonts of Power </a> by <a href="https://www.artstation.com/mmmadeline"> Morgan Madeline </a> </p>
	</div>
	<div class="home-text">{{ section.content | safe }}</div>
</div>
{% endblock %}