{% import "_macros.html" as macros %}

<!-- The root html page, from which all templates inherit -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="icon" href="/logo.png">
    <link rel="stylesheet" href="/lws.css">
    <link rel="stylesheet" href="/fonts.css">
    {% block head %}
    {% endblock head %}

    {% block rss %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/rss.xml">
    {% endblock %}

</head>

<body>
    {% block header %}
    <header class="box-shadow">
        {% set section = get_section(path="_index.md") %}
        <a href="{{ section.permalink }}">
            <div class="logo">
                <img src="/logo.png" alt="logo">
                Leafwing Studios
            </div>
        </a>

        <nav>
            {% for menu in config.extra.lws_extra_menu %}
            <a class="nav-item" href="{{ menu.link }}">{{ menu.title }}</a>
            {% endfor %}
        </nav>
    </header>
    {% endblock header %}

    <main style="justify-content:center;">
        {% block toc %}
        {% if section.toc %}
        {% set toc = section.toc %}
        {% elif page.toc %}
        {% set toc = page.toc %}
        {% endif %}
        {% if toc %}
        <div class="toc">
            <div class="toc-sticky">
                {% for h in toc %}
                <div class="toc-item">
                    <a class="subtext" href="{{h.permalink | safe}}">{{ h.title }}</a>
                </div>
                {% if h.children %}
                {% for h2 in h.children %}
                <div class="toc-item-child">
                    <a class="subtext" href="{{h2.permalink | safe}}"><small>- {{ h2.title }}</small></a>
                </div>
                {% endfor %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% endblock toc %}

        <div class="content text">
            {% block content %}
            <div>{{ section.content | safe }}</div>
            {% endblock content %}
        </div>
    </main>

    {% block pagination %}
    {% if paginator.previous or paginator.next %}
    <section class="section">
        <div class="container">
            <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                <a class="pagination-previous" href='{{ paginator.previous }}' {% if not paginator.previous %}disabled{% endif %}>
                    <span class="icon">
                        <i class="fas fa-angle-double-left"></i>
                    </span>
                    Previous
                </a>
                <ul class="pagination-list">
                    {% for pager in range(start=1, end=paginator.number_pagers+1) %}
                    <li>
                        <a class="pagination-link {% if paginator.current_index == pager %}is-current{% endif %}" href='{{ paginator.base_url }}{{pager}}' aria-label="Goto page {{pager}}">
                            {{pager}}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                <a class="pagination-next" href='{{ paginator.next }}' {% if not paginator.next %}disabled{% endif %}>
                    Next page
                    <span class="icon">
                        <i class="fas fa-angle-double-right"></i>
                    </span>
                </a>
            </nav>
        </div>
    </section>
    {% endif %}
    {% endblock %}

    {% block footer %}
    <footer>
        <small class="subtext ">
            © 2022 <a href="https://leafwing-studios.com/">Leafwing Studios</a>
        </small>
        <small class="subtext ">
            <hr>
        </small>

        <small class="subtext">
            <a href="/mailing-list">Mailing List</a>
            |
            <a href="/rss.xml">RSS Feed</a>
            |
            <a href="https://github.com/Leafwing-Studios/leafwing-website/issues/new">Report a problem</a>
        </small>
    </footer>
    {% endblock footer %}
</body>

<!-- Javascript -->
<script src="dark-mode.js"></script>

<!-- Highlights where you are in the table of contents -->
<script>
    function highlightNav(heading) {
        let pathname = location.pathname;
        document.querySelectorAll(".toc a").forEach((item) => {
            item.classList.remove("active");
        });
        document.querySelector(".toc a[href$='" + pathname + "#" + heading + "']").classList.add("active");
    }

    let currentHeading = "";
    window.onscroll = function () {
        let h = document.querySelectorAll("h1,h2,h3,h4,h5,h6");
        let elementArr = [];

        h.forEach(item => {
            if (item.id !== "") {
                elementArr[item.id] = item.getBoundingClientRect().top;
            }
        });
        elementArr.sort();
        for (let key in elementArr) {
            if (!elementArr.hasOwnProperty(key)) {
                continue;
            }
            if (elementArr[key] > 0 && elementArr[key] < 300) {
                if (currentHeading !== key) {
                    highlightNav(key);
                    currentHeading = key;
                }
                break;
            }
        }
    }
</script>

<!-- MailerLite Universal -->
<script>
        (function (m, a, i, l, e, r) {
            m['MailerLiteObject'] = e; function f() {
                var c = { a: arguments, q: [] }; var r = this.push(c); return "number" != typeof r ? r : f.bind(c.q);
            }
            f.q = f.q || []; m[e] = m[e] || f.bind(f.q); m[e].q = m[e].q || f.q; r = a.createElement(i);
            var _ = a.getElementsByTagName(i)[0]; r.async = 1; r.src = l + '?v' + (~~(new Date().getTime() / 1000000));
            _.parentNode.insertBefore(r, _);
        })(window, document, 'script', 'https://static.mailerlite.com/js/universal.js', 'ml');

    var ml_account = ml('accounts', '3077953', 'h1i7s7d3b7', 'load');
</script>
<!-- End MailerLite Universal -->

</html>