{% import "_macros.html" as macros %}
{% extends "index.html" %}

{% block title %}{{ page.title }} | {{ super() }} {% endblock title %}

{% block content %}

<h1 class="title-text">{{ page.title | safe }}</h1>
<p class="subtitle-text">{{ page.description | safe }}</p>

<div>{{ page.content | safe }}</div>

<p class="call-to-action">
	Thanks for reading: hopefully it was educational, thought-provoking, and/or fun.

	<br></br>

	If you'd like to read more like this in the future, consider signing up for our <a href=/mailing-list>email list</a>
	or
	subscribing to our <a href=/rss.xml>RSS feed</a>.
</p>

{% endblock content %}