{% import "_macros.html" as macros %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% include "_variables.html" %}
      <link href="https://cdnjs.cloudflare.com/ajax/libs/galleria/1.6.1/themes/folio/galleria.folio.min.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/mapbox-gl@2.1.1/dist/mapbox-gl.min.css" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="icon" href="{{ get_url(path="logo.png") }}">
    <link rel="stylesheet" href="{{ get_url(path="lws.css") }}">
    <link rel="stylesheet" href="{{ get_url(path="addition.css") }}">
    <link rel="stylesheet" href="{{ get_url(path="main.css") }}">
    {% block head %}
    {% endblock head %}

    {% block rss %}
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
{% endblock %}

</head>

<body>
    {% block header %}

    <header class="pos-absolute" style="background-color: transparent">
        {{ macros::render_header() }}
    </header>

    <div class="hero">
        {% block hero %}
        <section class="text-center mt-2">
            <h1 class="heading-text raleway" style="font-size: 50px">
                Leafwing Studios
            </h1>
            <h3 class="title-text oswald">
                Emergent complexity for thoughtful games
            </h3>
        </section>


        <img class="hero-image" style="width: 30%" src="{{ get_url(path="logo310.png") }}">

        <div class="explore-more text"
            onclick="document.getElementById('features').scrollIntoView({behavior: 'smooth'})">
            Explore More ⇩
        </div>
        <style>
            .hero section {
                padding: 0 5rem;
            }

            @media screen and (max-width: 768px) {
                .hero section {
                    padding: 0 2rem;
                }

                .hero-image {
                    display: none
                }
            }
        </style>
        {% endblock hero %}
    </div>

    {% endblock header %}


    <main style="justify-content:center;">
        {% block toc %}
        {% if section.toc %}
        {% set toc = section.toc %}
        {% elif page.toc %}
        {% set toc = page.toc %}
        {% endif %}
        {% if toc %}
        <div class="toc mt-N">
            <div class="toc-sticky">
                {% for h in toc %}
                <div class="toc-item">
                    <a class="subtext" href="{{h.permalink | safe}}">{{ h.title }}</a>
                </div>
                {% if h.children %}
                {% for h2 in h.children %}
                <div class="toc-item-child">
                    <a class="subtext" href="{{h2.permalink | safe}}"><small>- {{ h2.title }}</small></a>
                </div>
                {% endfor %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% endblock toc %}

        <div class="content text">
            {% block content %}
            <div id="features" class="heading-text raleway "></div>
            <div class="oswald">{{ section.content | safe }}</div>
            {% endblock content %}
        </div>

        {% block sidebar %}
        {% endblock %}
    </main>


      {% block pagination %}
  {% if paginator.previous or paginator.next %}
  <section class="section">
    <div class="container">
      <nav class="pagination is-centered" role="navigation" aria-label="pagination">
        <a class="pagination-previous" href='{{ paginator.previous }}' {% if not paginator.previous %}disabled{% endif %}>
          <span class="icon">
            <i class="fas fa-angle-double-left"></i>
          </span>
          Previous
        </a>
        <a class="pagination-next" href='{{ paginator.next }}' {% if not paginator.next %}disabled{% endif %}>
          Next page
          <span class="icon">
            <i class="fas fa-angle-double-right"></i>
          </span>
        </a>
        <ul class="pagination-list">
          {% for pager in range(start=1, end=paginator.number_pagers+1) %}
          <li>
            <a class="pagination-link {% if paginator.current_index == pager %}is-current{% endif %}" href='{{ paginator.base_url }}{{pager}}' aria-label="Goto page {{pager}}">
              {{pager}}
            </a>
          </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </section>
  {% endif %}
  {% endblock %}

    {% block footer %}
    <footer class="footerr">
        <small class="subtext ">
            © 2021 <a href="https://leafwing-studios.com/">Leafwing Studios</a>
        </small>
        <small class="subtext ">
            <hr>
        </small>
        
        <small class="subtext">
             
             <a style="text-decoration: none;" href="/mailing-list">Mailing List <i class="far fa-envelope"></i></a>
             &nbsp;&nbsp;
             <a style="text-decoration: none;" href="https://leafwing-studios.com/rss.xml">RSS Feed <i class="fas fa-rss-square"></i></a>
        </small>
    </footer>
    {% endblock footer %}






<script src="{{ get_url(path="main.js") }}"></script>


</body>
<script>
    function highlightNav(heading) {
        let pathname = location.pathname;
        document.querySelectorAll(".toc a").forEach((item) => {
            item.classList.remove("active");
        });
        document.querySelector(".toc a[href$='" + pathname + "#" + heading + "']").classList.add("active");
    }

    let currentHeading = "";
    window.onscroll = function () {
        let h = document.querySelectorAll("h1,h2,h3,h4,h5,h6");
        let elementArr = [];

        h.forEach(item => {
            if (item.id !== "") {
                elementArr[item.id] = item.getBoundingClientRect().top;
            }
        });
        elementArr.sort();
        for (let key in elementArr) {
            if (!elementArr.hasOwnProperty(key)) {
                continue;
            }
            if (elementArr[key] > 0 && elementArr[key] < 300) {
                if (currentHeading !== key) {
                    highlightNav(key);
                    currentHeading = key;
                }
                break;
            }
        }
    }
</script>

<!-- MailerLite Universal -->
<script>
(function(m,a,i,l,e,r){ m['MailerLiteObject']=e;function f(){
var c={ a:arguments,q:[]};var r=this.push(c);return "number"!=typeof r?r:f.bind(c.q);}
f.q=f.q||[];m[e]=m[e]||f.bind(f.q);m[e].q=m[e].q||f.q;r=a.createElement(i);
var _=a.getElementsByTagName(i)[0];r.async=1;r.src=l+'?v'+(~~(new Date().getTime()/1000000));
_.parentNode.insertBefore(r,_);})(window, document, 'script', 'https://static.mailerlite.com/js/universal.js', 'ml');

var ml_account = ml('accounts', '3077953', 'h1i7s7d3b7', 'load');
</script>
<!-- End MailerLite Universal -->

</html>
